body {
  margin: 1em auto;
  padding: 0;
  max-width: 50%
}


.editable {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 400px;
  padding-right: 30px;
}

sup {
  font-size:12px;
  color:gray;
  display: block;
	float: left;
  margin-left: -40%;
  clear: both;
  top: 1.4em !important; 
}

p {
  line-height: 28px;
  font-size: 14px;
  text-shadow: 1px;
  display: inline-block;
}
