body {
  margin: 1em auto;
  padding: 0;
  max-width: 50%
}

sup {
  font-size:12px;
  color:gray;
  display: block;
	float: left;
  margin-left: -40%;
  clear: both;
}

p {
  line-height: 28px;
  font-size: 14px;
  text-shadow: 1px;
  display: inline-block;
}
