body {
  margin: 1em auto;
  padding: 0;
  max-width: 50%
}


.editable {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 400px;
  padding-right: 30px;
  border-left: solid 1px lighten(gray,40%);
  color:gray;
  text-indent: 0;
  visibility: hidden;
}

sup {
  font-size:12px;
  color:gray;
  display: block;
	float: left;
  margin-left: -5%;
  clear: both;
  top: 1.4em !important;
}

p {
  line-height: 28px;
  font-size: 14px;
  text-shadow: 1px;
  display: inline-block;
  visibility: visible;
}

/* p span:first-letter {
  visibility: visible;
}

inline-styles cannot take above selector,
so first-letter on-click unavailable, for now

span {
  display: block !important;
} */

span:hover {
  background-color: rgba(0,0,0,0.08);
}

@media screen and (min-width: 500px) {
    .editable {
      visibility: visible;
    }
}

@media screen and (min-width: 625px) {
    sup {
      margin-left: -40%;
    }
}

@media screen and (min-width: 500px) {
    sup {
      margin-left: -30%;
    }
}
